{% extends 'base.html' %}
{% load static %}



{% block contenido %} 

<div class="d-flex justify-content-around">    
   
    <div class="col-sm-4 mt-5 mb-5">
        <form action="{% url 'app_admin:borrar' object.id %}"  method="post">
            {% csrf_token %}

            Está seguro de eliminar el paciente {{object.nombre}} RUN = {{object.run}}? 
            <br>
            <br>
            <br>
            <input class="btn btn-danger btn-block" type="submit" value="Eliminar">
            <input href="{% url 'app1:registro' %}" class="btn btn-primary btn-block" type="submit" value="Cancelar">
            
        </form>
        
    </div>
</div>

{% endblock %}