{% extends 'base.html'%}
{% load static %}
    

    {% block content %}
        <!-- Aqui va tu codigo -->
        <header>
            <div id="header">
                <h3 style="text-align: center;">Medicamentos Indicados</h3>
                <h4 style="text-align: center;">{{dato.nombre}} {{dato.apellido}}</h4>
                            
                <form method = "POST"> 
                    {% csrf_token %}
                    {{ pacientes }} 
                    <input type = "submit" value = "Ver" class="btn btn-primary btn-sm"> 
                </form> 
                
            </div>
        </header>
        <div id="contenido_medicamentos">
            <div id="tabla">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Medicamento</th>
                            <th>Horario</th>
                            <th>Dosis</th>
                            <th>Fecha</th>

                        </tr>
                    </thead>
                    <tbody id="tabla_medicamento">
                        
                        {%for dato in datos%}
                        <tr>
                            <td>{{dato.nombre}}</td>
                            <td>{{dato.hora}}</td>
                            <td>{{dato.dosis}}</td>
                            <td>{{dato.fecha}}</td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
            <hr>

            <div id="nuevo_medicamentos">
            <!--   {{datos.0.id_usuario_id}}-->
                <a type="submit" class="btn btn-primary" href="{% url 'app1:agregar_medicamento' %}" >Agregar</a>
              
            </div>
        </div>
        <!--fin tu codigo-->
    {% endblock %}